$std-colorb: #175ea9;

footer{
	display: flex;
	background-color: $std-colorb;
	color:white;
	font-size: initial;
	height:350px;
	.footer_left_items{
		display: flex;
		margin-left: 100px;
		
		width: 700px;
		ul{
			margin-top: 0px;
		}
		li {
          padding-left:1em;
          padding-bottom:5px;
     
}
		.top{
			padding-bottom: 10px;
			padding-top: 15px;
		}
		li{
        list-style-type:none;
         }
	}
	.footer_right_items{
		img{
			margin-top: 30px;
  		height: 55px;
        width: 270px;
  	}
	}
}